app.services.greeting.message: Social NET

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/socialnet
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: false

server:
  port: 8086

auth:
  secret: socialNet
  timeLive: 216000000

schedules:
  deleteOldCaptchasInterval: 0 0 0 * * *

s3:
  accessKey: YCAJE83YiyNT766OLADHNeObE
  secretKey: YCMxows8B0JbmMtTWNcbdv3EtYq0TAO0i2minApz
  bucket: socnet37
weather:
  apiKey: 3d29686077f7a60e5b5714b659a688dd
